html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

/* END OF CSS RESET */

body {
  height: 100%;
  background-color: darkslategray;
}

.nav {
  background-color: white;
  position: relative;
  width: 50%;
  height: 14rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 2rem;
  /* overflow: hidden; */
}

.icon {
  pointer-events: none;
  font-size: 5rem;
  position: relative;
  z-index: 100;
  transition: all 2s;
  top: 20px;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  /* position: absolute; */
}
.nav-items {
  /* pointer-events: none; */
  text-align: center;
  text-transform: capitalize;
  flex-basis: 20%;
  /* padding: 2rem 4rem; */
  /* overflow: hidden; */
  position: relative;
  height: 100%;
  /* height: 5rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: hotpink;
  z-index: 150;
}

.nav-items--description {
  pointer-events: none;
  display: block;
  font-size: 2rem;
  position: relative;
  top: 60px;
  transition: all 3s;
  opacity: 0;
}

.nav-items__one:hover > .icon {
  top: -100px;
  color: red;
}

.nav-items__one:hover > .nav-items--description {
  top: -20px;
  opacity: 1;
}

.nav-items:hover > .icon {
  /* top: -50px; */
}

.indicator {
  /* grid-area: one; */
  position: fixed;
  top: 170px;
  /* left: 49px; */
  /* display: flex; */
  transition: left 1s;
  /* grid-area: one; */
  height: 16rem;
  width: 16rem;
  background-color: green;
  /* transform: translateX(-50%); */
  border-radius: 50%;
  z-index: 1;
  border: 1.5rem solid darkslategray;
}

.indicator::before,
.indicator::after {
  content: '';
  display: block;
  height: 2rem;
  width: 2rem;
  background-color: darkslategray;
}

.indicator::before {
  top: 66px;
  left: -25px;
  position: absolute;
  border-top-right-radius: 47%;
  /* width: 400%; */
  box-shadow: 6.5px -7px 0px -7px dimgray;
  /* background-color: darkslategray; */
}

.indicator::after {
  top: 66px;
  left: 105px;
  position: absolute;
  border-top-left-radius: 47%;
  /* width: 400%; */
  box-shadow: -6px -8px 0px -7px dimgray;
  /* background-color: aquamarine; */
}

.indicator__main {
}

.indicator__left {
  background-color: dimgray;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

.test {
  content: '';
  display: block;
  height: 5rem;
  width: 5rem;
  background-color: hotpink;
  top: 66px;
  left: 102px;
  position: absolute;
  border-top-left-radius: 37%;
  /* width: 400%; */
  box-shadow: 2px 2px 0px 2px black;
  box-shadow: -9px -8px 0px -9px black;
}
/* -9px -8px 0px -9px black */
